@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
/* important statements should always be at the top */

* {
    margin: 0;
    padding: 0;
    border: none;
}
/* The asterisk wildcard selector allows us to all elemenst */

body {
    font-family: Lato, sans-serif;
    font font-weight: 300;
}